/*COLORS*/
/* Bleu : #3289c8 */
/* Vert : #5cb85c */
/* Orange : #f0ad4e */
/* Gris foncé #4d535d */
/* Gris-bleu : #566b7a */


*{
	font-family: roboto;
}

html, body {
	font-family: roboto;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}
h1{
	font-size: 1.6em;
	margin: 0 0 10px;
}
h2{
	font-size: 1.4em;
	margin: 0 0 10px;
}


.container {
	margin: 50px;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.icone-sport{
	border: 2px solid #4d535d;
	border-radius: 10px;
}






/* ---------------------------------        --------------------------------- */
/* --------------------------------- LAYOUT --------------------------------- */
/* ---------------------------------        --------------------------------- */


/* --------------------------------- HEADER --------------------------------- */
nav{
	padding: 0 10%;
}
.navbar{
	background-color: #566b7A;
	border-radius: 0;
	margin: 0;
	border: none;
}
.navbar-header{
	padding: 0;
	width: 50px;
}
.navbar-brand{
	height: 80px; 
	padding: 0; 
} 
.navbar-brand img{ 
	height: 60px;
	padding: 0;
	margin-top: 10px;
	border: 1px solid #fbfbfb;
	border-radius: 10px;
		-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.navbar-brand img:hover{ 
	background-color: #4d535d;
}
.navbar-default .navbar-nav>li>a{
	color: #FFFFFF;
	line-height: 80px;
		-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.navbar-default .navbar-nav a{ 
  padding: 0 10px; 
  width: 100px; 
  text-align: center; 
} 
.navbar-default .navbar-nav>li>a:hover{
	background-color: #FFFFFF;
}
.access{
	line-height: 80px;
	text-align: right;
	vertical-align: middle;
}
.access span{
	font-size: 1.2em;
	color: #FFFFFF;
	line-height: 80px;
	display: inline;
	vertical-align: middle;
	margin-right: 20px;
}
.access span>a{
	text-decoration: underline;
}
.filter-date{
	margin: 8px 0 0 20px;
}
.navbar-collapse{ 
  padding: 0; 
} 
.navbar .col-md-1{
	padding: 0;
	width: 80px;
}
.navbar .col-md-7{
	padding: 0;
}
.navbar .col-md-4{
	padding: 0;
}
#form_search{
	line-height: 80px;
}
#datepicker_header{
	margin: 0 0 0 20px;
	width: 120px;
}

/* --------------------------------- CONTENT --------------------------------- */

.content{
	padding: 1% 10%;
	height: 820px;
	background-color: #4D535D;
}
.row{
	margin: 0;
}
.gauche, .droite{
	background-color: #FFFFFF;
	color: #566b7A;
/*	padding: 20px;*/
	height: 780px;
	
}
.gauche{
	width: 70%;
	float: left;
}
.droite{
	width: 29%;
	float: right;
	/*overflow: auto;*/
}
.center{
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	color: #566b7A;
	height: 780px;
}


/* --------------------------------- FOOTER --------------------------------- */
footer{
	line-height: 50px;
	background-color: #566b7A;
	padding: 0 10%;
	color: #FFFFFF;
}
.copyright{
	width: 70%;
	float: left;
}
.contact{
	width: 29%;
	float: right;
}
footer a{
	color: #FFFFFF;
	display: table;
	padding: 0 10px;
}
footer a:hover{
	color: #566b7A;
	background-color: #FFFFFF;
	text-decoration: none;
}
.fa-envelope-o{
	padding: 0 10px 0 0;
}



/* ---------------------------------         --------------------------------- */
/* ---------------------------------  VIEWS  --------------------------------- */
/* ---------------------------------         --------------------------------- */


/*MAPS*/
.big-map{
	width: 100%;
	height: 100%;
}
#coord{
	width: 800px;
	margin:0 auto;
	border: solid 1px #ccc;
}
#pac-input{
	width: 300px;
	height: 31px;
	margin: 10px;
	padding: 8px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	border-radius: 2px;
}
#pac-input[type="placeholder"]{
	padding: 8px;
}
#bodyContent a{
	color: #000000;
}




/*FORMULAIRE ANNONCE*/
.register{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.register h1{
	text-align: center;
	padding: 20px 0 0;
	margin: 0;
}
.ui-selectmenu-button.ui-button {
    width: 100%;
}
.ui-button{
	line-height:20px;
	margin-right:10px;
}
.register textarea{
	width: 100%;
	height: 150px;
	padding: 10px;
	resize: none;
	border-radius: 3px;
}
.register input[id="datepicker_annonce"]{
	width: 100%;
	background-color: #f6f6f6;
    line-height: 20px;
    border: 1px solid #c5c5c5;
    padding: 0.4em 1em;
    border-radius: 3px;
    cursor: pointer;
}
.register .btn[type="submit"]{
	margin-top: 20px;
	width: 100%;
	text-align: center;
	min-width: 190px;
}
.rdv_date{
	display: inline-block;
    max-width: 100%;
    margin: 20px 0 5px 0;
    font-weight: 700;
}
.register label{
	margin: 20px 0 0 0;
}





/*LISTE ANNONCES*/
.btnAdvertRegister{
	height:8%;
	background-color:#4D535D;
	text-align: center;

}
.btnAdvertRegister button{	
	width: 100%;
	height:85%;
	font-size: 1.5em;
}
.liste{
	height: 92%;
	overflow: auto;
}
#placesList img{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
#placesList{
	padding: 0;
	margin: 0;
}
#placesList a{
	color: #4d535d;
}
#placesList .col-md-1{
	padding: 0;
}
#placesList li{
	list-style: none;
	padding: 10px;
}
#placesList li:nth-child(odd){
	background-color: rgba(86,107,122,0.2);
}
#placesList .col-md-2{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
}
.level{
	font-size: 1em;
	margin: 0;
}
.dispo_event{
	font-size: 1.4em;
	border: solid 1px #cccccc;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: #3289C8;
	color: #FFFFFF;
	line-height: 30px;
	vertical-align: middle;
}





/* LOGIN - INSCRIPTION */
.light-box{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 1;
}
.login-form{
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: solid 1px #ccc;
	padding: 10px 30px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	margin: -150px 0 0 -200px;
}
.login-form input[type="email"],.login-form input[type="password"]{
	background: #EFEFEF;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.login-form input[type="email"]:focus,.login-form input[type="password"]:focus{
	box-shadow: 0 0 20px rgba(0,0,200,0.5);
}
.login-form label{
	display: block;
	width: 100%;
	line-height: 20px;
	padding-left: 5px;
	margin-top: 15px;
}
.login-form input{
	display: block;
	width: 100%;
	border:solid 1px #ccc;
	line-height: 40px;
	padding-left: 5px;
}
.login-form input[type="submit"]{
	display: block;
	width: 100%;
	line-height: 30px;
	margin-top: 30px;
}
.login-form a{
	color: #4d535d;
	padding-top: 10px;
	display: inline-block;
	text-decoration: underline;
	text-align: center;

}






/* INSCRIPTION */
.register-form{
	width: 400px;
	height: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: solid 1px #ccc;
	padding: 10px 30px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	margin: -275px 0 0 -200px;
}
.register-form input[type="email"],.register-form input[type="password"],.register-form input[type="text"]{
	background: #EFEFEF;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.register-form input[type="email"]:focus,.register-form input[type="password"]:focus,.register-form input[type="text"]:focus{
	box-shadow: 0 0 20px rgba(0,0,200,0.5);
}
.register-form label{
	display: block;
	width: 100%;
	line-height: 20px;
	padding-left: 5px;
	margin-top: 15px;
}
.register-form input{
	display: block;
	width: 100%;
	border:solid 1px #ccc;
	line-height: 40px;
	padding-left: 5px;
}
.register-form input[type="submit"]{
	display: block;
	width: 100%;
	line-height: 30px;
	margin-top: 30px;
}
.register-form a{
	color: #4d535d;
	padding-top: 10px;
	display: block;
	text-decoration: underline;
}
.register-form>.ui-button{
	line-height: 30px;
	border-radius: 0;
}





/* VUE ANNONCE */
.small-map{
	width: 100%;
	height: 40%;
}
.detail-annonce{
	padding: 20px;
	height: 40%;
}
.detail-annonce h2{
	font-size: 1.4em;
	margin: 0 0 10px;
}
.detail-annonce h3{
	font-size: 1em;
	margin: 0;
}
.detail-annonce ul{
	padding: 0;
}
.detail-annonce li{
	list-style: none;
}
.detail-annonce img{
	display: block;
	width: 60px;
	float: left;
	margin: 0 10px 10px 0;
}
.detail-annonce-gauche{
	width: 50%;
	float: left;
/*	overflow: auto;*/
}
.detail-annonce-gauche input[type="submit"]{
	margin: 0 0 0 80px;
}

.detail-annonce-droite{
	width: 50%;
	float: right;
	height: 60%;
/*	overflow: auto;*/
}
.description{
	margin-top: 10px;
	max-height: 100px;
	width: 100%;
	font-weight: 600;
	/*background-color:  rgba(86,107,122,0.2);*/
	/*padding: 5px;*/
	overflow: auto;
}
#participant-button{
	width: 70px;
	margin: 20px;
}
textarea{
	width: 100%;
	height: 80px;
	overflow: auto;
	resize: none;
	border-color: #ccc;
}
.liste-message{
	margin-top: 20px;
	height: 260px;
	overflow: auto;
	border: 1px solid #ccc;
}
.liste-message li{
	padding: 10px;
}
.liste-message li:nth-child(odd){
	background-color: rgba(86,107,122,0.2);
}
.message{
	margin: 0;
}

.participants{
	width: 50%;
	height: 20%;
}
.profil-organisateur{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.profil-organisateur h1{
	text-align: center;
	padding: 20px 0 0;
	margin: 0;
}
.profil-organisateur h2{
	text-align: center;
	padding: 10px 0 20px;
	margin: 0;
}
.profil-organisateur img{
	display: inline-block;
	min-width: 100%;
	height: 120px;
	transform: translate(-50%, -50%);
	margin: 60px 0 0 60px;
}
.presentation{
	width: 100%;
	height: 250px;
	border: solid 1px #CCCCCC;
	border-radius: 5px;
	text-align: left;
	padding: 10px;
	margin: 20px 0;
	background-color: #566b7a;
	color: #FFFFFF;
}




/* VUE PROFIL */
/* FICHE PROFIL */
.profil h1{
	text-align: center;
	padding: 20px 0 0;
	margin: 0;
}
.photo-profil{
	margin: 20px auto 0;
	width: 120px;
	height: 120px;
	border: 2px solid #CCC;
	border-radius: 30px;
	overflow: hidden;
}
.profil img{
	display: inline-block;
	min-width: 100%;
	height: 120px;
	transform: translate(-50%, -50%);
	margin: 60px 0 0 60px;
}


.profil form{
	width: 80%;
	margin: 0 auto;
}
.log-out{
	display: block;
	margin: 20px auto 0;
}
.profil textarea{
	width: 100%;
	height: 90px;
	padding: 10px;
	resize: none;
	border-radius: 3px;
}
.profil input[id="datepicker"]{
	width: 100%;
	background-color: #f6f6f6;;
    line-height: 20px;
    border: 1px solid #c5c5c5;
    padding: 0.4em 1em;
    border-radius: 3px;
    cursor: pointer;
}
.profil input[type="text"], input[type="tel"]{
	width: 100%;
	/*background-color: #f6f6f6;*/
    line-height: 20px;
    border: 1px solid #c5c5c5;
    padding: 0.4em 1em;
    border-radius: 3px;
}
.profil .btn[type="submit"]{
	margin-top: 20px;
	width: 100%;
	text-align: center;
	min-width: 190px;
}
.profil label{
	margin: 20px 0 0 0;
}



.profil-annonce{
	margin: 0 auto;
	padding: 20px;
	height: 60%;
	width: 80%;
	overflow: auto;
}
/*
.profil-annonce h2{
	font-size: 1.4em;
	margin: 0 0 10px;
}
.profil-annonce h3{
	font-size: 1em;
	margin: 0;
}
.profil-annonce ul{
	padding: 0;

}
.profil-annonce li{
	list-style: none;
}
.profil-annonce img{
	display: block;
	width: 60px;
	float: left;
	margin: 0 10px 10px 0;
}
.profil-annonce p{
	clear: both;
}
.profil-annonce button{
	float: right;
}

*/







/* MESSAGES ALERT/SUCCESS */
.alert{
	width: 400px;
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin-left: -200px;
	z-index: 10;
	text-align: center;
}

div.alert {
    padding: 15px;
    background: #3CBC8B;
    color: #fff;

}
.alert-error { 
    background:#AD4341 !important;  
}
.alert-info { 
    background:#6D9AAA !important;  
}

