/*COLORS*/
/* Bleu : #3289c8 */
/* Vert : #5cb85c */
/* Orange : #f0ad4e */
/* Gris foncé #4d535d */
/* Gris-bleu : #566b7a */


*{
	font-family: roboto;
}

html, body {
	font-family: roboto;
	margin: 0;
	padding: 0;
}



.container {
	margin: 50px;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}







/* ---------------------------------        --------------------------------- */
/* --------------------------------- LAYOUT --------------------------------- */
/* ---------------------------------        --------------------------------- */


/* --------------------------------- HEADER --------------------------------- */
nav{
	padding: 0 10%;
}
.navbar{
	background-color: #566b7A;
	border-radius: 0;
	margin: 0;
	border: none;
}
.navbar-header{
	padding: 0;
	width: 50px;
}
.navbar-brand{
	height: 50px;
	padding: 0;
}
.navbar-default .navbar-nav>li>a{
	color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #FFFFFF;
}
.access{
	line-height: 50px;
	text-align: right;
	vertical-align: middle;
}
.filter-date{
	margin: 8px 0 0 20px;
}
.navbar .col-md-1{
	padding: 0;
}
.navbar .col-md-7{
	padding: 0;
}
.navbar .col-md-4{
	padding: 0;
}
/* --------------------------------- CONTENT --------------------------------- */

.content{
	padding: 2% 10%;
	height: 850px;
	background-color: #4D535D;
}
.row{
	margin: 0;
}
.gauche, .droite{
	background-color: #FFFFFF;
	color: #566b7A;
/*	padding: 20px;*/
	height: 780px;
	
}
.gauche{
	width: 70%;
	float: left;
}
.droite{
	width: 29%;
	float: right;
	overflow: auto;
}
.center{
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	color: #566b7A;
	height: 780px;
}


/* --------------------------------- FOOTER --------------------------------- */
footer{
	line-height: 50px;
	background-color: #566b7A;
	padding: 0 10%;
	color: #FFFFFF;
}
.copyright{
	width: 70%;
	float: left;
}
.contact{
	width: 29%;
	float: right;
}
footer a{
	color: #FFFFFF;
	display: table;
	padding: 0 10px;
}
footer a:hover{
	color: #566b7A;
	background-color: #FFFFFF;
	text-decoration: none;
}
.fa-envelope-o{
	padding: 0 10px 0 0;
}



/* ---------------------------------         --------------------------------- */
/* ---------------------------------  VIEWS  --------------------------------- */
/* ---------------------------------         --------------------------------- */


/*MAPS*/
.big-map{
	width: 100%;
	height: 100%;
}
#coord{
	width: 800px;
	margin:0 auto;
	border: solid 1px #ccc;
}
#pac-input{
	width: 300px;
	height: 31px;
	margin: 10px;
	padding: 8px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	border-radius: 2px;
}
#pac-input[type="placeholder"]{
	padding: 8px;
}
#bodyContent a{
	color: #000000;
}




/*FORMULAIRE ANNONCE*/
.register{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.register h1{
	font-size: 1.6em;
	color: #286090;
	text-align: center;
	padding: 20px 0 0;
	margin: 0;
}
.ui-selectmenu-button.ui-button {
    width: 100%;
}
.ui-button{
	line-height:20px;
	margin-right:10px;
}
.register>textarea{
	width: 100%;
	height: 150px;
	padding: 10px;
	resize: none;
	border-radius: 3px;
}
.register>input[id="datepicker"]{
	width: 100%;
	background-color: #f6f6f6;;
    line-height: 20px;
    border: 1px solid #c5c5c5;
    padding: 0.4em 1em;
    border-radius: 3px;
    cursor: pointer;
}
.register>.btn[type="submit"]{
	margin-top: 20px;
	width: 100%;
	text-align: center;
	min-width: 190px;
}
.rdv_date{
	display: inline-block;
    max-width: 100%;
    margin: 20px 0 5px 0;
    font-weight: 700;
}
.register>label{
	margin: 20px 0 0 0;
}





/*LISTE ANNONCES*/
#placesList img{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
#placesList{
	padding: 0;
	margin: 0;
}
#placesList a{
	color: #4d535d;
}
#placesList .col-md-1{
	padding: 0;
}
#placesList li{
	list-style: none;
	padding: 10px;
}
#placesList li:nth-child(odd){
	background-color: rgba(86,107,122,0.2);
}
#placesList .col-md-2{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
}
.level{
	font-size: 1em;
	margin: 0;
}
.dispo_event{
	font-size: 1.4em;
	border: solid 1px #cccccc;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: #3289C8;
	color: #FFFFFF;
	line-height: 30px;
	vertical-align: middle;
}





/* LOGIN - INSCRIPTION */
.light-box{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 1;
}
.login-form{
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: solid 1px #ccc;
	padding: 10px 30px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	margin: -150px 0 0 -200px;
}
.login-form input[type="email"],.login-form input[type="password"]{
	background: #EFEFEF;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.login-form input[type="email"]:focus,.login-form input[type="password"]:focus{
	box-shadow: 0 0 20px rgba(0,0,200,0.5);
}
.login-form label{
	display: block;
	width: 100%;
	line-height: 20px;
	padding-left: 5px;
	margin-top: 15px;
}
.login-form input{
	display: block;
	width: 100%;
	border:solid 1px #ccc;
	line-height: 40px;
	padding-left: 5px;
}
.login-form input[type="submit"]{
	display: block;
	width: 100%;
	line-height: 30px;
	margin-top: 30px;
}
.login-form a{
	color: #4d535d;
	padding-top: 10px;
	display: block;
	text-decoration: underline;
}





/* INSCRIPTION */
.register-form{
	width: 400px;
	height: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: solid 1px #ccc;
	padding: 10px 30px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	margin: -275px 0 0 -200px;
}
.register-form input[type="email"],.register-form input[type="password"],.register-form input[type="text"]{
	background: #EFEFEF;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.register-form input[type="email"]:focus,.register-form input[type="password"]:focus,.register-form input[type="text"]:focus{
	box-shadow: 0 0 20px rgba(0,0,200,0.5);
}
.register-form label{
	display: block;
	width: 100%;
	line-height: 20px;
	padding-left: 5px;
	margin-top: 15px;
}
.register-form input{
	display: block;
	width: 100%;
	border:solid 1px #ccc;
	line-height: 40px;
	padding-left: 5px;
}
.register-form input[type="submit"]{
	display: block;
	width: 100%;
	line-height: 30px;
	margin-top: 30px;
}
.register-form a{
	color: #4d535d;
	padding-top: 10px;
	display: block;
	text-decoration: underline;
}
.register-form>.ui-button{
	line-height: 30px;
	border-radius: 0;
}





/* VUE ANNONCE */
.small-map{
	width: 100%;
	height: 40%;
}

.detail-annonce{
	padding: 20px;
	height: 40%;
}
.detail-annonce h2{
	font-size: 1.4em;
	margin: 0 0 10px;
}
.detail-annonce h3{
	font-size: 1em;
	margin: 0;
}
.detail-annonce ul{
	padding: 0;
}
.detail-annonce li{
	list-style: none;
}
.detail-annonce img{
	display: block;
	width: 80px;
	float: left;
	margin: 0 10px 10px 0;
}


.detail-annonce-gauche{
	width: 50%;
	float: left;
/*	overflow: auto;*/
}
.detail-annonce-droite{
	width: 50%;
	float: right;
	height: 60%;
/*	overflow: auto;*/
}

.detail{
	
}
#participant-button{
	width: 70px;
	margin: 20px;
}
textarea{
	width: 100%;
	height: 80px;
	overflow: auto;
	resize: none;
}

.liste-message{
	margin-top: 20px;
	height: 260px;
	overflow: auto;
}
.liste-message li{
	padding: 10px;
}
.liste-message li:nth-child(odd){
	background-color: rgba(86,107,122,0.2);
}
.message{
	margin: 0;
}


.participants{
	width: 50%;
	height: 20%;
}



















div.alert {
    padding: 15px;
    background: #3CBC8B;
    color: #fff;
}
.alert-error { 
    background:#AD4341 !important;  
}
.alert-info { 
    background:#6D9AAA !important;  
}